name: Build and Push Docker Image

on:
  push:
    branches: [ "master" ] # Runs whenever you push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Replace 'johndoe' with your actual Docker Hub username
          tags: ${{ secrets.DOCKER_USERNAME }}/quiz-app:latest
          
          # This helps with caching to make builds faster
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/quiz-app:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/quiz-app:buildcache,mode=max